body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

._wrapper {
  background: url('./photo/NDHU.png') no-repeat;
  background-size: 100vw; 
  height: 100vh;
  width: 100vw;
} 

._form {
  margin-left: 59vw;
  margin-right: 17vw;
}

._bar{
  margin-left: 59vw;
  margin-right: 20vw;
  padding-top: 9vmax;
}

._barItem{
  font-size: 40px;
}

._labelText{
  font-size: 30px;
}

._inputText{
  font-size: 27px;
}

._center
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
